---
import { Modal } from 'accessible-astro-components'
import DefaultLayout from '@/f/layouts/DefaultLayout.astro'
import EmptyState from '@/f/components/EmptyState.astro'
import { messagesPage, lang } from '@/f/config/messageConfig.ts'
---

<DefaultLayout title={messagesPage[lang].title}>
  <section>
    <h1>{messagesPage[lang].heading}</h1><br>
    <p class="size-20">{messagesPage[lang].overview}</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <h2>{messagesPage[lang].sectionTitle}</h2>
      <EmptyState>{messagesPage[lang].emptyMessage}</EmptyState>
      <button id="modal-trigger" class="button color-secondary">{messagesPage[lang].addButton}</button>
      <Modal
        triggerId="modal-trigger"
        title={messagesPage[lang].modalTitle}
        closeText={messagesPage[lang].modalCloseText}
      >
        <p>{messagesPage[lang].modalBody}</p>
      </Modal>
    </div>
  </section>
</DefaultLayout>
